.title {
    -fx-text-fill: #e6e6e6;
    -fx-font-family: "Impact";
    -fx-font-size: 50;
    -fx-label-padding: 10;
}
.ship {
    -fx-min-height: 60;
    -fx-min-width: 60;
    -fx-max-height: 60;
    -fx-max-width: 60;
    -fx-border-width: 0px; /* Grubość obramowania */
    -fx-border-color: black;
    -fx-background-color: black /* Kolor tła */
}
.bullet {
    -fx-fill: #e6e6e6;
}
.menuButton {
    -fx-background-color: black; /* Kolor tła */
    -fx-text-fill: #e6e6e6; /* Kolor tekstu */
    -fx-font-size: 18px; /* Rozmiar czcionki */
    -fx-font-weight: bold; /* Pogrubienie tekstu */
    -fx-border-color: #e6e6e6; /* Kolor obramowania */
    -fx-border-width: 5px; /* Grubość obramowania */
    -fx-max-height: 30px;
    -fx-max-width: 140px;
}
.selectedButton {
    -fx-background-color: #404040; /* Kolor tła */
}
.menuButton:hover {
    -fx-background-color:#262626; /* Kolor tła po najechaniu myszą */
}
.selectedButton:hover {
    -fx-background-color:#4d4d4d; /* Kolor tła po najechaniu myszą */
}
.menuButton:pressed {
    -fx-background-color: #404040; /* Kolor tła po naciśnięciu */
}
.background {
    -fx-border-color: #404040; /* Kolor ramki (zielony) */
    -fx-border-width: 10px; /* Grubość ramki */
    -fx-padding: 10px; /* Odstęp wewnątrz BorderPane */
    -fx-background-color: black;
}